/* variables declaration */
:root {
    --primary-color: #0c012a;
    --secondary-color: #fafbdc;
    --third-color: #d55302;
    --fourth-color: #a0cbad;
    --fifth-color: #8fb1be;
    --sixth-color: #fcc560;

}

/* keyframes */
@keyframes scroll {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-100%);
    }
}

/* générale */
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-family: montserrat, sans-serif;
}

main {
    width: calc(100% - 20px);
}


p {
    margin: 0;
    font-family: poppins, sans-serif;
    font-size: 0.875rem;
}

h1 {
    margin: 0;
    font-size: 2.25rem;
    font-weight: 400;
    letter-spacing: -1px;
    font-family: 'Limelight', cursive;
}

h2 {
    margin: 0;
    font-size: 1.3rem;
    font-weight: 500;
    letter-spacing: -1px;
    font-family: montserrat, sans-serif;
}

a {
    text-decoration: none;
    color: var(--secondary-color);
}

figure {
    padding: 0;
    margin: 0;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;

}

/*style*/
nav {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80px;
    background-color: var(--primary-color);
    position: fixed;
    top: 0;
    z-index: 1000;
    border-bottom: #1c1531 1px solid;

    figure {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 15px 20px;


        img {
            width: 120px;
            height: fit-content;
        }

        figcaption {

            i {
                padding-top: 10px;
                font-size: 2.188rem;
                color: var(--third-color);
                cursor: pointer;
            }
        }
    }

    .navlinks-ctn {
        display: none;
    }

    ul {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        position: absolute;
        top: 50px;
        gap: 10px;
        width: 100%;
        height: 150px;
        margin-top: 30px;
        align-items: center;
        text-transform: uppercase;
        background-color: var(--primary-color);
        border-bottom: var(--secondary-color) 1px solid;
        transition: all 0.5s ease-in-out;
        opacity: 0;
        visibility: hidden;
    }

    .navplay {
        display: flex;

        ul {
            opacity: 1;
            visibility: visible;
        }
    }
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: 80px;

    header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 10px;
        text-align: center;
        padding-top: 40px;

        .intro {
            display: flex;
            flex-direction: column;
            gap: 5px;
            margin-bottom: 20px;

            p {
                font-family: montserrat, sans-serif;
                font-size: 1.2rem;
                font-weight: 500;
                letter-spacing: -1px;

                span {
                    font-size: 1.5rem;
                    font-family: limelight, sans-serif;
                    background: linear-gradient(to right, var(--third-color), var(--sixth-color));
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
            }
        }

        img {
            width: 305px;
            height: 305px;
            border-radius: 100%;
            border: #8fb1be 1px solid;
        }

        .about {
            display: flex;
            flex-direction: column;
            gap: 10px;
            margin: 5px 10px;
            text-align: start;
            line-height: 1rem;

            .fa-droplet,
            .fa-anchor {
                display: inline-block;
                max-width: fit-content;
                margin-right: 10px;
            }
        }
    }

    .skills-ctn {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: calc(100% - 20px);
        text-align: center;

        h2 {
            padding: 5px 0;
            width: 100%;
            border-radius: 20px 20px 0 0;
            border: var(--secondary-color) 1px solid;
            background: var(--sixth-color);
            color: var(--primary-color);
            font-family: 'Limelight', cursive;
        }

        .skills {
            display: flex;
            flex-direction: row;
            width: 100%;
            padding: 10px 0;
            overflow: hidden;
            border: var(--secondary-color) 1px solid;
            border-radius: 0 0 20px 20px;


            .iconsCtn {
                display: flex;
                justify-content: flex-start;
                padding: 0;
                margin: 0;
                white-space: nowrap;
                animation: scroll 20s linear infinite;
                transition: all 0.5s ease-in-out;


                li {
                    display: inline-block;
                    width: fit-content;
                    padding: 0;
                    flex: 0 0 auto;

                    i {
                        font-size: 2.25rem;
                        color: var(--third-color);
                        cursor: pointer;
                        margin: 0 10px;
                    }

                    .fa-html5 {
                        color: var(--third-color);
                    }

                    .fa-css3-alt {
                        color: var(--fifth-color);
                    }

                    .fa-js {
                        color: var(--sixth-color);
                    }

                    .fa-react {
                        color: var(--fifth-color);
                    }

                    .fa-sass {
                        color: var(--third-color)
                    }

                    .fa-github {
                        color: var(--secondary-color);
                    }

                    .fa-figma {
                        color: var(--fourth-color);
                    }
                }
            }
        }
    }
}

.projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    ul {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        gap: 10px;
        width: 100%;

        li {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;

            img {
                width: calc(100% - 20px);
                height: 355px;
                border-radius: 20px;
            }

            .projectInfo {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                position: absolute;
                gap: 10px;
                width: 300px;
                border-radius: 20px;
                flex-wrap: wrap;

                p {
                    color: var(--primary-color);
                    background-color: var(--secondary-color);
                    padding: 5px 10px;
                    border-radius: 20px;
                    font-weight: 500;
                    text-align: center;
                    display: none;
                }

                .fa-circle-plus {
                    font-size: 2.5rem;
                    display: none;
                }
            }
        }

        li:hover .projectInfo p,
        li:focus .projectInfo p {
            display: block;
        }

        li:hover img {
            border: var(--secondary-color) 2px solid;
            filter: brightness(50%);
        }

        li:hover .fa-circle-plus,
        li:focus .fa-circle-plus {
            display: block;

        }
    }
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;

    .transparent {
        width: 20%;
        height: 100%;
        background-color: var(--secondary-color);
        opacity: 0.5;
    }

    .modalContent {
        width: 80%;
        height: 100%;
        background-color: var(--primary-color);
        border-left: var(--secondary-color) 1px solid;
        padding: 20px;
        padding-top: 120px;

        .modalHeader {
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;

            .fa-xmark {
                font-size: 2.188rem;
                color: var(--third-color);
                cursor: pointer;
            }

        }
    }
}


.modalNone {
    display: none;
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    .button {
        width: fit-content;
        padding: 10px 20px;
        margin: 5px 0 40px 0;
        border-radius: 20px;
        font-weight: 500;
        text-align: center;
        color: var(--primary-color);

        background: linear-gradient(307deg, #a0cbad 66%, #fcc560 100%);
        cursor: pointer;
        transition: all 0.5s ease-in-out;

        &:hover {
            border: var(--secondary-color) 1.5px solid;
            background: linear-gradient(307deg, #a0cbad 40%, #fcc560 100%);
        }
    }
}


footer {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    gap: 5px;
    padding-bottom: 10px;
    border-top: #f1eaea 1px solid;


    p {
        font-size: 0.7rem;
    }

    ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: fit-content;
        align-items: center;
        gap: 50px;
        list-style: none;
        font-size: 1.7rem;
    }

    .retrowave {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0;
        margin: 5px 0 20px 0;
        gap: 5px;

        li {
            display: flex;
            justify-content: center;
            width: 100%;
            padding: 0;
            margin: 0;
            height: 5px;
        }

        .creme {
            background-color: var(--secondary-color);
        }

        .yellow {
            background-color: var(--sixth-color);
        }

        .orange {
            background-color: var(--third-color);
        }

        .green {
            background-color: var(--fourth-color);
        }

        .blue {
            background-color: var(--fifth-color);
        }
    }
}

@media screen and (min-width: 768px) {
    main {
        .skills-ctn {
            width: 375px;
        }

        .projects {

            ul {
                flex-direction: row-reverse;
                flex-wrap: wrap;

                li {
                    width: auto;
                }
            }
        }

        .modal {
            .transparent {
                width: 50%;
            }

            .modalContent {
                width: 50%;
            }
        }
    }
}
